
body {
    /* background-color: blue; */
    text-align: center;
    /* background-image: url("js/pic/starpicture.jpg");
    background-repeat: no-repeat; 
    background-size: 300vh; */
    /* background-image: unset; */
}
h1{
    background-color: #0F3460;
    margin: 10px;
}
h2{
    margin: 10px;
    margin-bottom: 0;
    background-color: aquamarine;
}
h4{
    margin-top: 2px;
}
div {
    width: 1000px;
    height: 665px;
    margin-left: 10%;
    background-color: #0F3460;
    margin-top: 10px;
}
table{ 
    /* position: fixed; */
    position: relative;
    padding-top: 2.5px;
    /* padding-left: 30%; */
    /* padding-top: 15px;
    margin-left: 30%;
    margin-right: 10%; */
}
.cell {
    width: 45px;
    height: 45px;
    font-size: 20px;
    border: 3px solid white;
    
}
.un-clicked{
    background-color: rgb(0, 255, 255);
    box-shadow: 13px 9px 13px 9px #192e2e00;
    /* font-size: 0px;*/
} 

.un-clicked:hover{
    cursor: pointer;
    background-color: rgb(94, 190, 190);

}
.clicked{
    width: 51px;
    height: 51px;
    font-size: 17px;
    background-color: red;
    border: none;
}
.clock{
    object-position: 50%;
    padding: 5px;
    margin-left: 50%;
}

.emoji {
    width: 60px;
    height: 60px;
    font-size: 30px;
}

.hints{
    margin-left: 100px;
}

button:hover{
    border-radius: 10%;
    cursor: pointer;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    padding: 10px; 
    left: 0;
    top: 0;
    width: 300px; 
    height: 170px; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 250px;
    height: 130px;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

span{
    background-color: aqua;
}